<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Site Layout</title>
  <link rel="icon" href="img/food.png">
  <link href="css/styles.css" rel="stylesheet">  
  <link href="css/styles1.css" rel="stylesheet">
 </head>
<body>
<header><img src="img/logo.jpg" alt="Logo"></header>
<div class="nav-links">
 <ul>
  <li><a href="home.html"><img src="img/glyphicons-21-home.png" alt="Home"></a></li>
  <li><a href="catering.html"><img src="img/glyphicons-closh.png" alt="Catering"></a></li>
  <li><a href="bbq.html"><img src="img/glyphicons-276-fast-food.png" alt="BBQ"></a></li>
  <li><a href="yogurt.html"><img src="img/glyphicons-536-ice-cream.png" alt="Yogurt"></a></li>
  <li><a href="events.html"><img src="img/glyphicons-46-calendar.png" alt="Events"></a></li>
  <li><a href="find-us.html"><img src="img/glyphicons-503-map.png" alt="Find Us"></a></li>
 </ul>
 <hr>
 </div>

<footer> Copyright 2018 Fro-yo-OTG</footer>
  <div class="cloud x1"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>